@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#logo{
    width: 50px;
    height: 50px;
}
#Title{
    align-items: center;
    font-size: 21px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px;
    align-items: center;
    font-family: 'Roboto';
    height: 50px;
    font-size: 17px;
}
.menu{
    display: flex;
    margin-left: 10px;
}

li{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
nav{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    background-color: aliceblue;
    border-radius: 50px;
    justify-content: space-between;
    height: 50px;
    
}
a{
    display: flex;
    
    justify-content: flex-end;
    font-size: 17px;
    font-family: 'Roboto';
    text-decoration: none;
    color: black;
    margin-right: 20px;
}
a:hover{
color: rgb(100, 115, 253);
}


body{
    background-image: url(src/back1.jpg);
    background-size: 1350px;
  width: 100%;
  
  

}
.info{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    font-family: 'Roboto';
    color: aliceblue;
}
#btn{
    display: flex;
    justify-content: center;
    background-color: rgb(5, 5, 65);
    border-radius: 50px;
    padding: 15px;
    width: 10%;
    margin: auto;
    color: aliceblue;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.315), 0 6px 20px 0 rgba(0, 0, 0, 0.281);
    transition: 0.2s;
}

#btn:hover{
    letter-spacing: 0.08rem;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.options{
    margin-top: 50px;
    text-align: center;
    background-color: aliceblue;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.315), 0 6px 20px 0 rgba(0, 0, 0, 0.281);
    font-family: 'Roboto';
    padding: 10px;
}
figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(129, 129, 247);
    width: 80px;
    height: 80px;
    border-radius: 80px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

}
.icon{
    margin-top: 15px;
    height: 50px;
    width: 50px;
}