@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html{
    font-size: 16px;
}
*{
    font-family: 'Roboto';
}
body{
    margin: 0%;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/*Starts menu*/
#logo{
    width: 80%;
    height: 80%;
}
#Title{
    align-items: center;
    font-size: 1.5rem;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1rem;
    align-items: center;
    font-family: 'Roboto';
    height: 3rem;
    font-size: 1rem;
}
.menu{
    display: flex;
    margin-left: 1rem;
}

li{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
nav{
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    background-color: white;
    border-radius: 50px;
    justify-content: space-between;
    height: 3rem;
    
}
a{
    display: flex;
    
    justify-content: flex-end;
    font-size: 1rem;
    font-family: 'Roboto';
    text-decoration: none;
    color: black;
    margin-right: 1.3rem;
}
a:hover{
color: rgb(100, 115, 253);
}


/*Finish menu part*/
#information{
    background-image: url(src/back1.jpg);
    background-size: 100%;
    width: 100%;
    margin: 0px;
}

.info{
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    font-family: 'Roboto';
    color: white;
}
#btn{
    display: flex;
    justify-content: center;
    background-color: rgb(5, 5, 65);
    border-radius: 50px;
    padding: 1rem;
    width: 10%;
    margin: auto;
    color: aliceblue;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.315), 0 0.4rem 1.3rem 0 rgba(0, 0, 0, 0.281);
    transition: 0.2s;
}

#btn:hover{
    opacity:0.8;
    letter-spacing: 0.08rem;
}
/*Boxes section*/
#optionBoxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.options{
    margin-top: 3.25rem;
    text-align: center;
    background-color: white;
    margin: 2rem;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.315), 0 0.4rem 1.3rem 0 rgba(0, 0, 0, 0.281);
    font-family: 'Roboto';
    padding: 0.7rem;
}
figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(129, 129, 247);
    width: 5rem;
    height: 5rem;
    border-radius: 80px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

}
.icon{
    margin-top: 1rem;
    height: 3rem;
    width: 3rem;
}
/*Course info section*/
.courses{
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    height: 31.25rem;
    width: 100%;
    font-family: 'Roboto';

}
#course{
    justify-content: flex-start;
    text-align: center;
    margin-top: 5rem;

}
#titleCourses{
    padding: 1.25rem;
}
#courseImage, #courses{
    width: 37.5rem;
    height: 25rem;
    justify-content: flex-end;
}
#btnCourses{
    justify-content: center;
    background-color: rgb(5, 5, 65);
    border-radius: 15px;
    padding: 0.62rem;
    width: 25%;
    margin: auto;
    color: aliceblue;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.315), 0 0.4rem 1.3rem 0 rgba(0, 0, 0, 0.281);
    transition: 0.2s;
}
#btnCourses:hover{
    opacity:0.8;
    letter-spacing: 0.08rem;
}
/* ends course info section*/
/*Book info section*/
.book{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    height: 40.62rem;
}
#reading{
    height: 31.25rem;
    width: 31.25rem;
    align-items: center;
}
.bookImage{
    height: 31.25rem;
    width: 31.25rem;
}
.bookText{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#btnBook{
    justify-content: center;
    background-color: rgb(5, 5, 65);
    border-radius: 15px;
    padding: 0.625rem;
    width: 25%;
    color: aliceblue;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.315), 0 0.4rem 1.3rem 0 rgba(0, 0, 0, 0.281);
    transition: 0.2s;   
}
#btnBook:hover{
    opacity:0.8;
    letter-spacing: 0.08rem;
}
/* Ends book info section*/
/*Contact info section*/
#contactBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 37.5rem;
}

.contactText{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: white;
}
#btnContact{
    justify-content: center;
    background-color: rgb(5, 5, 65);
    border-radius: 15px;
    padding: 0.625rem;
    width: 25%;
    color: aliceblue;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.315), 0 0.4rem 1.3rem 0 rgba(0, 0, 0, 0.281);
    transition: 0.2s;   
}
#btnContact:hover{
    opacity:0.8;
    letter-spacing: 0.08rem;
}
#imageContact{
    height: 31.25rem;
    width: 31.25rem;
}
.imageContact{
    height: 31.25rem;
    width: 31.25rem;
    background-color: white;
    margin: 0%;
}
/*Contact info section*/